task: "pretraining"

model:
  hidden_size: 768
  num_hidden_layers: 12
  num_attention_heads: 12
  intermediate_size: 3072
  dropout_prob: 0.0
  vocab_size: 31999
  max_position_embeddings: 4096
  attn_backend: flash_attn_varlen
  kernel_backend: auto
  ngpt: false
  hidden_act: "swiglu"
  rope: true
  rms_norm: true

dataset:
  name: "EleutherAI/SmolLM2-1.7B-stage-4-100B"
  streaming: true
  num_proc: 8
  num_workers: 4
  max_seq_length: 1024
  train_split: "train"
  eval_split: null
  eval_samples: 4096

tokenizer:
  name: "BEE-spoke-data/wordpiece-tokenizer-32k-en_code-msp"
  vocab_size: 31999
  max_length: 1024
  truncation: true

datacollator:
  mlm_probability: 0.2
  mask_all: false
  pad_to_multiple_of: 8
  pack_sequences: true

trainer:
  output_dir: "./outputs/neobert-100m-wordpc_msp_32k_tok-dion2"
  max_steps: 100000
  per_device_train_batch_size: 16
  per_device_eval_batch_size: 16
  gradient_accumulation_steps: 4
  enforce_full_packed_batches: true
  logging_steps: 25
  log_train_accuracy: false
  log_grad_norm: true
  log_weight_norms: true
  eval_steps: 5000
  save_steps: 10000
  save_total_limit: 3
  mixed_precision: "bf16"
  masked_logits_only_loss: true
  gradient_checkpointing: false
  resume_from_checkpoint: false

optimizer:
  name: "dion2"
  lr: 1e-4
  weight_decay: 0.01
  betas: [0.9, 0.95]
  eps: 1e-8
  dion2_config:
    fraction: 0.25
    ef_decay: 0.95
    adjust_lr: spectral_norm
    orthogonalization: newton_schulz
    ns_steps: 5
    flatten: false
    use_triton: false
    enable_clipping: false
    clipping_threshold: 50.0
    clipping_alpha: 0.5
    clipping_warmup_steps: 0
    clipping_interval: 10
    clipping_qk_chunk_size: 1024
    capture_last_microbatch_only: true
    clipping_layers_mapping: {}
    verbose: false
    scalar_algorithm: adamw

scheduler:
  name: "cosine"
  warmup_steps: 5000

wandb:
  enabled: true
  project: "neobert-pretraining"
  name: "neobert-100m-wordpc_msp_32k_tok-dion2"
  mode: "online"

seed: 69
